.DS_Store
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
!aws/environments/lab/terraform.tfvars
!aws/environments/organization/terraform.tfvars
!azure/environments/lab/terraform.tfvars
!azure/environments/organization/terraform.tfvars
!gcp/environments/lab/terraform.tfvars
!gcp/environments/organization/terraform.tfvars
!oci/environments/lab/terraform.tfvars
!oci/environments/organization/terraform.tfvars
crash.log
crash.*.log
.terraform.tfstate.lock.info
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.pem
*.key
*.cert
*.crt
*.p12
*.pfx
kubeconfig*
